.row{
width: 850px;
height: 600px;
border: 1px solid black;
background-color: crimson;
display: flex;
justify-content:space-evenly;
}
.col{
    width: 250px;
    height: 200px;
    border: 1px solid black;
}
.col-1{
    background-color: aqua;
    
}
.col-2{
    background-color: rgb(47, 0, 255);
    
}
.col-3{
    background-color: rgb(5, 37, 1);
    
}